*{
    /* font-family: 'Rajdhani', 'Raleway', sans-serif; */
    margin: 0px;
    padding: 0px;
    } 

:root{
    --title:'Rajdhani', sans-serif;
    --subtitle:'Raleway', sans-serif;
    --color-1:#4892ca;
    --color-2:#036156;
    --color-3:#0b2e49;
    --color-4:#cecece;
    --letra-l:'22px';
    --letra-s:'10px';
    --letra-m:'17px';
    --color-active:orange;
}
