*{
    margin: 0px;
    padding: 0px;
   }

:root{
    /* --title:Rajdhani, sans-serif; */
    --subtitle:Raleway, sans-serif;
    --title:font-family, 'Roboto', sans-serif;
    --color-1:#2970DB;
    --color-2:#7CCDCB;
    --color-3:#F2F6F8;
    --color-4:#67B500;
    --color-5:#C81E3A;
    --color-5:#cfcfcf;
    --letra-xl:28px;
    --letra-l:22px;
    --letra-s:10px;
    --letra-m:17px;
    --color-active:orange;
}

/* Seccion LucasBranch */
h3,.l-title{
    color: var(--color-5);
    font-family:var(--title);
    letter-spacing: .2rem;
    font-size:40px ;
    font-weight: bolder;
    margin: 15px;
     }

p,.l-subtitle{
    color: var(--color-2);
    font-size: var(--letra-l);
    letter-spacing: .1rem;
}
.l-img {
    max-width: 60%;
    height: auto; 
    display: inline-block; 
    margin: 15px;
   
}
   .l-container {
    text-align: center; 
    background-color: var(--color-1);
   }

.l-ef{
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px black;
}

.l-ef:hover {
    transform: scale(1.1);
    transition: transform 0.9s ease;
    border: solid #fff;
}


@media (min-width: 541px) and (max-width: 620px) {
       
    div,.l-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .l-img {
        max-width: 100%;
        height: auto;
    }

   h3,.l-title{
        color: var(--color-2);
        font-size: var(--letra-s); 
     }
    
    p,.l-subtitle{
        color: var(--color-2);
        font-size: var(--letra-s);
    }
}
/* Seccion LucasBranc */