*{
    /* font-family: 'Rajdhani', 'Raleway', sans-serif; */
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', 'Open Sauce' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
    } 

:root{
    --title:'Rajdhani', sans-serif;
    --subtitle:'Raleway', sans-serif;
    --color-1:#2970DB;
    --color-2:#7CCDCB;
    --color-3:#F2F6F8;
    --color-4:#67B500;
    --color-5:#C81E3A;
    --letra-l:'22px';
    --letra-s:'10px';
    --letra-m:'17px';
    --color-active:orange;
}


.logo1 {
    width: 190px;
    border-radius: 0px 15px 0px 15px;
}

/* ---__-----__------ MEDIA MEDIA MEDIA MEDIA ------__-----__--- */


@media (max-width: 560px) {
    .navbar-brand {
        display: none;
    }
}
