body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* FOTO DE LOS HEADERS DE CADA PAIS */
.header_francia{
    background-image: url(./assets/imagenes_paises/francia.jpg);  
}
.header_Mexico{
    background-image: url(./assets/imagenes_paises/Mexico.jpg); 
}
.header_italia{
    background-image: url(./assets/imagenes_paises/Italia.jpg); 
}
.header_argentina{
    background-image: url(./assets/imagenes_paises/argentina.jpg);
}
.header_estadosunidos{
  background-image: url(./assets/imagenes_paises/estadosunidos.jpg);
}
.header_republicadominicana{
  background-image: url(./assets/imagenes_paises/repdominicana.jpg);
}
.header_españa{
  background-image: url(./assets/imagenes_paises/españa.jpg);
}
.header_turquia{
  background-image: url(./assets/imagenes_paises/turquia.jpg);
}
.header_brasil{
  background-image: url(./assets/imagenes_paises/Brasil.jpg);
}
.header_panama{
  background-image: url(./assets/imagenes_paises/panama.jpg);
}
/* FIN DE FOTO DE CADA PAIS */
.titulo_pais{
    color: white;
    font-size: 70px;
}
.subtitulo_pais{
    color: white;
    font-size: 30px;  
}

.info {
    padding: 2rem;
    text-align: center;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}
.color1{
    color: white;
    text-align: center;
}
.m1{
    margin-top: 10px;
}
.m2{
    margin-top: 120px;
}

a{
    text-decoration: none;
}


.servicio_1 {
    width: 300px;
    height: 200px; 
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
}
.servicio_1:hover,.servicio_2:hover,.servicio_3:hover {
    transform: scale(0.9);
    ;
    transition: transform 0.9s ease;
    border: solid #fff;
}
.servicio_2 {
    width: 300px;
    height: 200px; 
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
}
.servicio_3 {
    width: 300px;
    height: 200px; 
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-size: cover; 
}

/* FOTOS DE SERVICIOS y PAQUETES SEGUN EL PAIS */
/* MEXICO */
.servicio_mexico1{
  background-image: url(./assets/imagenes_paises/mexico_servicio1.jpg);
}
.servicio_mexico2{
  background-image: url(./assets/imagenes_paises/mexico_servicio2.jpg);   
}
.servicio_mexico3{
background-image: url(./assets/imagenes_paises/mexico_servicio3.png);
}
/* FRANCIA */
.servicio_francia1{
    background-image: url(./assets/imagenes_paises/francia_servicio1.jpg)
  }
.servicio_francia2{
    background-image: url(./assets/imagenes_paises/Francia_servicio2.jpg);   
  }
.servicio_francia3{
  background-image: url(./assets/imagenes_paises/Francia_servicio3.jpg);
  }
  /* ITALIA */
  .servicio_italia1{
    background-image: url(./assets/imagenes_paises/italia_servicio1.jpg)
  }
.servicio_italia2{
    background-image: url(./assets/imagenes_paises/italia_servicio2.jpg);   
  }
.servicio_italia3{
  background-image: url(./assets/imagenes_paises/italia_servicio3.jpg);
  }  
  /* ARGENTINA */
  .servicio_argentina1{
    background-image: url(./assets/imagenes_paises/argentina_servicios1.jpg);
  }
  .servicio_argentina2{
    background-image: url(./assets/imagenes_paises/argentina_servicios2.jpg);
  }
  .servicio_argentina3{
    background-image: url(./assets/imagenes_paises/argentina_servicio3.jpg);
  }
  /* ESTADOS UNIDOS */
  .servicio_estadosunidos1{
    background-image: url(./assets/imagenes_paises/estadosunidos_servicios1.jpg);
  }
  .servicio_estadosunidos2{
    background-image: url(./assets/imagenes_paises/estadosunidos_servicios2.jpg);
  }
  .servicio_estadosunidos3{
    background-image: url(./assets/imagenes_paises/estadosunidos_servicions3.jpg);
  }
  /* REPUBLICA DOMINICANA */
  .servicio_repdominicana1{
    background-image: url(./assets/imagenes_paises/repdominicana_servicios1.jpg) ;
  }
  .servicio_repdominicana2{
    background-image: url(./assets/imagenes_paises/repdominicana_servicions2.jpg) ;
  }
  .servicio_repdominicana3{
    background-image: url(./assets/imagenes_paises/repdominicana_servicios3.jpg) ;
  }
  /* ESPAÑA */
  .servicio_españa1{
    background-image: url(./assets/imagenes_paises/españa_servicios1.jpg);
  }
  .servicio_españa2{
    background-image: url(./assets/imagenes_paises/españa_servicios2.jpg);
  }
  .servicio_españa3{
    background-image: url(./assets/imagenes_paises/españa_servicios3.jpg);
  }
  /* TURQUIA */
  .servicio_turquia1{
    background-image: url(./assets/imagenes_paises/turquia_servicios1.jpg);
  }
  .servicio_turquia2{
    background-image: url(./assets/imagenes_paises/turquia_servicios2.jpg);
  }
  .servicio_turquia3{
    background-image: url(./assets/imagenes_paises/turquia_servicios3.jpg);
  }
  /* BRASIL */
  .servicio_brasil1{
    background-image: url(./assets/imagenes_paises/brasil_servicios1.jpg);
  }
  .servicio_brasil2{
    background-image: url(./assets/imagenes_paises/brasil_servicios2.jpg);
  }
  .servicio_brasil3{
    background-image: url(./assets/imagenes_paises/brasil_servicios3.jpg);
  }
  /* PANAMA */
  .servicio_panama1{
    background-image: url(./assets/imagenes_paises/panama_servicios1.jpg);
  }
  .servicio_panama2{
    background-image: url(./assets/imagenes_paises/panama_servicios2.jpg);
  }
  .servicio_panama3{
    background-image: url(./assets/imagenes_paises/panama_servicios3.jpg);
  }
  /* FIN DE SERVICIOS Y PAQUETES POR PAISES */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}