body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --title: 'Rajdhani', sans-serif;
    --subtitle: 'Raleway', sans-serif;
    --title: 'font-family', 'Roboto', sans-serif;
    --color-1: #2970db;
    --color-2: #036156;
    --color-3: #0b2e49;
    --color-4: #cecece;
    --letra-xl:28px;
    --letra-l: 22px;
    --letra-s: 10px;
    --letra-m: 17px;
    --color-active: orange;
}

.comments {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
}

/* Seccion LucasBranch */
h3,
.l-title {
    color: white;
    font-family:var(--subtitle);
    letter-spacing: .2rem;
    font-size:40px ;
    font-weight: bolder;
    margin: 15px;
    margin-top: 50px;

}

p,
.l-subtitle {
    color: white;
    font-size: var(--letra-l);
    letter-spacing: .1rem;
}

.l-img {
    max-width: 60%;
    height: auto;
    display: inline-block;
    margin: 5px;
}

.l-container {
    text-align: center;
    background-color: var(--color-1);
}

.l-ef{
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px black;
}

.l-ef:hover {
    transform: scale(1.1);
    transition: transform 0.9s ease;
    border: solid #fff;
}
/* Fin Seccion LucasBranch */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.comment-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

.comentarios {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

/* Chechi Branch Style */

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo1 {
    width: 190px;
    border-radius: 0px 15px 0px 15px;
}

.logo_header {
    width: 150px; 
}

.logoIndividual{
    display: none;
}

#mailto_, #phone_, #search_ {
    display: none;
}

.modalLi {
    list-style-type: none;
    border: none
}

.navbar {
    background: linear-gradient(180deg, rgba(41, 112, 219, 1) 0%, rgba(41, 112, 219, 1) 90%, rgba(255, 255, 255, 1) 100%);
    top: 0%;
    position: fixed !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.offcanvas {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(41, 112, 219, 1) 100%);
}

.dropdown {
    border: none;
}

.lagom{
    width: 100%;
    height: 90%;
}

.desplegableLi{
    list-style: none;
    border: none;
    margin: 1px;
    padding: none;
}

.desplegableContinente {
    width: max-content;
}

.nav-link {
    list-style-type: none;
}

.nav-item {
    list-style-type: none;
    padding: 7px;
    margin-left: 10px;
}

.encabezado {
    text-shadow: 2px 1px 3px rgb(251, 249, 249);
}

#redes {
    background-color: rgba(0, 0, 0, 0.315);
    width: 50px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;
    position: fixed;
    bottom: 10%;
    right: 0%;
    align-items: center;
    z-index: 1000;
}

.net-item {
    font-size: 40px;
    color: white;
    opacity: 50%;
    margin-left: 7px;
}

.net-item:hover {
    color: white;
    opacity: 100%;
    font-size: 41px
}

#carouselExample, .lagom {
    position: relative;
    z-index: -10;
    margin-top: 5%;
}

.offcanvas{
    position: absolute;
    z-index: 2000;
}

.modal-content {
    background: linear-gradient(40deg, rgba(41, 112, 219, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(41, 112, 219, 1) 100%);

}

.modal-p {
    text-indent: 10%;
    text-align: justify;
    font-size: small;
    color: black;
}

/* Chechi Branch Style ends here*/

.titleh3 {
    color: var(--color-2);
}

.subtitle {
    color: var(--color-2);
    font-size: var(--letra-l);
}

.img {
    max-width: 60%;
    height: auto;
    display: inline-block;
    margin: 2px;
}

.container {
    text-align: center;
    background-color: var(--color-1);

}

@media (min-width: 541px) and (max-width: 620px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .navbar-brand {
        display: none;
    }

    .img {
        max-width: 100%;
        height: auto;
    }

    .carrusel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

}

.colordiv {
    background-color: #2970db;
    padding: 20px; 
}

.buttontam {
    width: 58%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px 0;
    padding: 10px 0;
}

.textimg1 {
    font-size: 100px;
    color: white;
    position: absolute;
    z-index: 4;
    left: 350px;

}

.textimg2 {
    font-size: 100px;
    color: white;
    position: absolute;
    z-index: 4;
    left: 350px;
}

.textimg3 {
    font-size: 100px;
    color: white;
    position: absolute;
    z-index: 5;
    left: 350px;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.im {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px 10px 1px 10px;
    border: solid 1px black;
}

.im:hover {
    transform: scale(0.9);
    ;
    transition: transform 0.9s ease;
    border: solid #fff;
}

.buttontam:hover {
    transform: scale(1.1);
    ;
    transition: transform 0.9s ease;
    border: solid #fff;
}

a:hover {
    color: rgb(69, 6, 245);
}

@media (min-width: 541px) and (max-width: 620px) {
    .colordiv {
        padding: 10px;
    }

    .textimg1,
    .textimg2,
    .textimg3 {
        font-size: 80px;
        left: 20px;

    }

    .buttontam {
        width: 80%;
    }

    #redes {
        top: 50px;
    }

}

#logo2 {
    width: 500px;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.ins {
    margin-top: 100px;
}

.Instagram {
    text-align: center;
    position: relative;
}

.Instagram span {
    z-index: 100;
    position: relative;
    padding: 15px;
}

.Instagram ::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    left: 550px;
    top: 55%;
    background: black;
    z-index: 50;
}

.Instagram ::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    padding-right: 0px;
    right: 108%;
    top: 55%;
    background: black;
    z-index: 50;
}
.mf{
    margin-top: 120px;
}
.Lg{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#carouselExampleSlidesOnly {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    margin-top: 50px;
}


.tic {
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.tamcar {
    height: 50vh;
}


.carousel-inner.tamcar {
    display: flex;
    flex-wrap: nowrap;
}


@media (max-width: 768px) {
    #carouselExampleSlidesOnly {
        max-height: 100px;
    }

}

@media (min-width: 620px) and (max-width: 900px) {

    .textimg1,
    .textimg2,
    .textimg3 {
        font-size: 80px;
        left: 20px;

    }

}

@media (min-width: 200px) and (max-width: 541px) {

    #redes {
        top: 150px;
    }

    #mailto, #phone, #search {
        display: none;
    }

    #mailto_, #phone_, #search_ {
        display: block;
    }

    .textimg1,
    .textimg2,
    .textimg3 {
        font-size: 50px;
        left: 20px;

    }
    .logo_header {
        display: none; 
    }
    
    .logoIndividual {
        display: block;
        width: 70px;
    }
    
}


/* Seccion LucasBranch */

@media (min-width: 541px) and (max-width: 620px) {

    /* Seccion LucasBranc */
    div,
    .l-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .l-img {
        max-width: 100%;
        height: auto;
    }

    h3,
    .l-title {
        color: var(--color-2);
        font-size: var(--letra-s);
    }

    p,
    .l-subtitle {
        color: var(--color-2);
        font-size: var(--letra-s);
    }

    /* Seccion LucasBranc */
}