body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* FOTO DE LOS HEADERS DE CADA PAIS */
.header_francia{
    background-image: url(./assets/imagenes_paises/francia.jpg);  
}
.header_Mexico{
    background-image: url(./assets/imagenes_paises/Mexico.jpg); 
}
.header_italia{
    background-image: url(./assets/imagenes_paises/Italia.jpg); 
}
.header_argentina{
    background-image: url(./assets/imagenes_paises/argentina.jpg);
}
.header_estadosunidos{
  background-image: url(./assets/imagenes_paises/estadosunidos.jpg);
}
.header_republicadominicana{
  background-image: url(./assets/imagenes_paises/republicadominicana.jpg);
}
.header_españa{
  background-image: url(./assets/imagenes_paises/españa.jpg);
}
.header_turquia{
  background-image: url(./assets/imagenes_paises/turquia.jpg);
}
.header_china{
  background-image: url(./assets/imagenes_paises/china.jpg);
}
.header_japon{
  background-image: url(./assets/imagenes_paises/japon.jpg);
}
.header_brasil{
  background-image: url(./assets/imagenes_paises/Brasil.jpg);
}
.header_panama{
  background-image: url(./assets/imagenes_paises/panama.jpg);
}
.header_chile{
  background-image: url(./assets/imagenes_paises/Chile.jpg);
}
.header_jamaica{
  background-image: url(./assets/imagenes_paises/jamaica.jpg);
}
.header_cuba{
  background-image: url(./assets/imagenes_paises/cuba.jpg);
}
.header_puertorico{
  background-image: url(./assets/imagenes_paises/puertorico.jpg);
}
.header_canada{
  background-image: url(./assets/imagenes_paises/canada.jpg);
}
.header_colombia{
  background-image: url(./assets/imagenes_paises/colombia.jpg);  
}
.header_venezuela{
  background-image: url(./assets/imagenes_paises/venezuela.jpg);  
}
.header_peru{
  background-image: url(./assets/imagenes_paises/peru.jpg);  
}
.header_paraguay{
  background-image: url(./assets/imagenes_paises/paraguay.jpg);  
}
.header_uruguay{
  background-image: url(./assets/imagenes_paises/uruguay.jpg);
} 
.header_grecia{
  background-image: url(./assets/imagenes_paises/grecia.jpg);
}
.header_alemania{
  background-image: url(./assets/imagenes_paises/alemania.jpg);
}
.header_marruecos{
  background-image: url(./assets/imagenes_paises/marruecos.jpg);
}
.header_suiza{
  background-image: url(./assets/imagenes_paises/suiza.jpg);
}
.header_belgica{
  background-image: url(./assets/imagenes_paises/belgica.jpg);
}
.header_egipto{
  background-image: url(./assets/imagenes_paises/egipto.jpg);
}
.header_irlanda{
  background-image: url(./assets/imagenes_paises/irlanda.jpg);
}
.header_portugal{
  background-image: url(./assets/imagenes_paises/portugal.jpg);
}

.header_australia {
  background-image: url(./assets/imagenes_paises/australia.jpg)
}
  
.header_nuevaZelanda {
  background-image: url(./assets/imagenes_paises/nuevazelanda.jpg)
}

.header_curazao {
  background-image: url(./assets/imagenes_paises/curazao.jpg)
}

.header_aruba{
  background-image: url(./assets/imagenes_paises/aruba.jpg)
}
.header_reinounido{
  background-image: url(./assets/imagenes_paises/Reino_unido.jpg)
}
.header_paisesbajos{
  background-image: url(./assets/imagenes_paises/PaisesBajos.jpg)
}
.header_republicacheca{
  background-image: url(./assets/imagenes_paises/RepublicaCheca.jpg)
}
.header_croacia{
  background-image: url(./assets/imagenes_paises/Croacia.jpg)
}
.header_sudafrica{
  background-image: url(./assets/imagenes_paises/sudafrica.jpg)
}
.header_emiratosarabes{
  background-image: url(./assets/imagenes_paises/Emiratosarabes.jpg)
}
.header_qatar{
  background-image: url(./assets/imagenes_paises/Qatar.jpg)
}
.header_india{
  background-image: url(./assets/imagenes_paises/India.jpg)
}
.header_tailandia{
  background-image: url(./assets/imagenes_paises/tailandia.jpg)
}
.header_malasia{
  background-image: url(./assets/imagenes_paises/Malasia.jpg)
}




/* FIN DE FOTO DE CADA PAIS */
.titulo_pais{
    color: white;
    font-size: 70px;
}
.subtitulo_pais{
    color: white;
    font-size: 30px;  
}

.info {
    padding: 2rem;
    text-align: center;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}
.color1{
    color: white;
    text-align: center;
    background-color: rgba(67, 20, 3, 0.251);
}
.m1{
    margin-top: 10px;
}
.m2{
    margin-top: 120px;
}

a{
    text-decoration: none;
    cursor: default;
}


.servicio_1 {
    width: 300px;
    height: 200px; 
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
}
.servicio_1:hover,.servicio_2:hover,.servicio_3:hover {
    transform: scale(0.9);
    ;
    transition: transform 0.9s ease;
    border: solid #fff;
}
.servicio_2 {
    width: 300px;
    height: 200px; 
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
}
.servicio_3 {
    width: 300px;
    height: 200px; 
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover; 
}

/* FOTOS DE SERVICIOS y PAQUETES SEGUN EL PAIS */
  
/* MEXICO */
.servicio_mexico1{
  background-image: url(./assets/imagenes_paises/mexico_servicio1.jpg);
}
.servicio_mexico2{
  background-image: url(./assets/imagenes_paises/mexico_servicio2.jpg);   
}
.servicio_mexico3{
background-image: url(./assets/imagenes_paises/mexico_servicio3.png);
}
/* FRANCIA */
.servicio_francia1{
    background-image: url(./assets/imagenes_paises/francia_servicio1.jpg)
  }
.servicio_francia2{
    background-image: url(./assets/imagenes_paises/Francia_servicio2.jpg);   
  }
.servicio_francia3{
  background-image: url(./assets/imagenes_paises/Francia_servicio3.jpg);
  }
  /* ITALIA */
  .servicio_italia1{
    background-image: url(./assets/imagenes_paises/italia_servicio1.jpg)
  }
.servicio_italia2{
    background-image: url(./assets/imagenes_paises/italia_servicio2.jpg);   
  }
.servicio_italia3{
  background-image: url(./assets/imagenes_paises/italia_servicio3.jpg);
  }  
  /* ARGENTINA */
  .servicio_argentina1{
    background-image: url(./assets/imagenes_paises/argentina_servicios1.jpg);
  }
  .servicio_argentina2{
    background-image: url(./assets/imagenes_paises/argentina_servicios2.jpg);
  }
  .servicio_argentina3{
    background-image: url(./assets/imagenes_paises/argentina_servicios3.jpg);
  }
  /* ESTADOS UNIDOS */
  .servicio_estadosunidos1{
    background-image: url(./assets/imagenes_paises/estadosunidos_servicios1.jpg);
  }
  .servicio_estadosunidos2{
    background-image: url(./assets/imagenes_paises/estadosunidos_servicios2.jpg);
  }
  .servicio_estadosunidos3{
    background-image: url(./assets/imagenes_paises/estadosunidos_servicios3.jpg);
  }
  /* REPUBLICA DOMINICANA */
  .servicio_repdominicana1{
    background-image: url(./assets/imagenes_paises/republicadominicana_servicios1.jpg) ;
  }
  .servicio_repdominicana2{
    background-image: url(./assets/imagenes_paises/republicadominicana_servicios2.jpg) ;
  }
  .servicio_repdominicana3{
    background-image: url(./assets/imagenes_paises/republicadominicana_servicios3.jpg) ;
  }
  /* ESPAÑA */
  .servicio_españa1{
    background-image: url(./assets/imagenes_paises/españa_servicios1.jpg);
  }
  .servicio_españa2{
    background-image: url(./assets/imagenes_paises/españa_servicios2.jpg);
  }
  .servicio_españa3{
    background-image: url(./assets/imagenes_paises/españa_servicios3.jpg);
  }
  /* TURQUIA */
  .servicio_turquia1{
    background-image: url(./assets/imagenes_paises/turquia_servicios1.jpg);
  }
  .servicio_turquia2{
    background-image: url(./assets/imagenes_paises/turquia_servicios2.jpg);
  }
  .servicio_turquia3{
    background-image: url(./assets/imagenes_paises/turquia_servicios3.jpg);
  }
    /* CHINA */
    .servicio_china1{
      background-image: url(./assets/imagenes_paises/china_servicios1.jpg);
    }
    .servicio_china2{
      background-image: url(./assets/imagenes_paises/china_servicios2.jpg);
    }
    .servicio_china3{
      background-image: url(./assets/imagenes_paises/china_servicios3.jpg);
    }
    /* JAPON */
    .servicio_japon1{
      background-image: url(./assets/imagenes_paises/japon_servicios1.jpg);
    }
    .servicio_japon2{
      background-image: url(./assets/imagenes_paises/japon_servicios2.jpg);
    }
    .servicio_japon3{
      background-image: url(./assets/imagenes_paises/japon_servicios3.jpg);
    }
  /* BRASIL */
  .servicio_brasil1{
    background-image: url(./assets/imagenes_paises/brasil_servicios1.jpg);
  }
  .servicio_brasil2{
    background-image: url(./assets/imagenes_paises/brasil_servicios2.jpg);
  }
  .servicio_brasil3{
    background-image: url(./assets/imagenes_paises/brasil_servicios3.jpg);
  }
  /* PANAMA */
  .servicio_panama1{
    background-image: url(./assets/imagenes_paises/panama_servicios1.jpg);
  }
  .servicio_panama2{
    background-image: url(./assets/imagenes_paises/panama_servicios2.jpg);
  }
  .servicio_panama3{
    background-image: url(./assets/imagenes_paises/panama_servicios3.jpg);
  }
  /* JAMAICA */
  .servicio_jamaica1{
    background-image: url(./assets/imagenes_paises/jamaica_servicios1.jpg);
  }
  .servicio_jamaica2{
    background-image: url(./assets/imagenes_paises/jamaica_servicios2.jpg);
  }
  .servicio_jamaica3{
    background-image: url(./assets/imagenes_paises/jamaica_servicios3.jpg);
  }
  /* CUBA */
  .servicio_cuba1{
    background-image: url(./assets/imagenes_paises/cuba_servicios1.jpg);
  }
  .servicio_cuba2{
    background-image: url(./assets/imagenes_paises/cuba_servicios2.jpg);
  }
  .servicio_cuba3{
    background-image: url(./assets/imagenes_paises/cuba_servicios3.jpg);
  }
  /* PUERTO RICO */
  .servicio_puertorico1{
    background-image: url(./assets/imagenes_paises/puertorico_servicios1.jpg);
  }
  .servicio_puertorico2{
    background-image: url(./assets/imagenes_paises/puertorico_servicios2.jpg);
  }
  .servicio_puertorico3{
    background-image: url(./assets/imagenes_paises/puertorico_servicios3.jpg);
  }
  /* CANADA */
  .servicio_canada1{
    background-image: url(./assets/imagenes_paises/canada_servicios1.jpg);
  }
  .servicio_canada2{
    background-image: url(./assets/imagenes_paises/canada_servicios2.jpg);
  }
  .servicio_canada3{
    background-image: url(./assets/imagenes_paises/canada_servicios3.jpg);
  }
    /* CHILE*/
    .servicio_chile1{
      background-image: url(./assets/imagenes_paises/chile_servicio1.jpg);
    }
    .servicio_chile2{
      background-image: url(./assets/imagenes_paises/chile_servicio2.jpg);
    }
    .servicio_chile3{
      background-image: url(./assets/imagenes_paises/chile_servicio3.jpg);
    }
    /* COLOMBIA */
.servicio_colombia1{
  background-image: url(./assets/imagenes_paises/colombia_servicio1.jpg)
}
.servicio_colombia2{
  background-image: url(./assets/imagenes_paises/colombia_servicio2.jpg);   
}
.servicio_colombia3{
background-image: url(./assets/imagenes_paises/colombia_servicio3.jpg);
}
/* VENEZUELA */
.servicio_venezuela1{
  background-image: url(./assets/imagenes_paises/venezuela_servicio1.jpg)
}
.servicio_venezuela2{
  background-image: url(./assets/imagenes_paises/venezuela_servicio2.jpg);   
}
.servicio_venezuela3{
background-image: url(./assets/imagenes_paises/venezuela_servicio3.jpg);
}
/* PERÚ */
.servicio_peru1{
  background-image: url(./assets/imagenes_paises/peru_servicio1.jpg)
}
.servicio_peru2{
  background-image: url(./assets/imagenes_paises/peru_servicio2.jpg);   
}
.servicio_peru3{
background-image: url(./assets/imagenes_paises/peru_servicio3.jpg);
}
/* PARAGUAY */
.servicio_paraguay1{
  background-image: url(./assets/imagenes_paises/paraguay_servicio1.jpg)
}
.servicio_paraguay2{
  background-image: url(./assets/imagenes_paises/paraguay_servicio2.jpg);   
}
.servicio_paraguay3{
background-image: url(./assets/imagenes_paises/paraguay_servicio3.jpg);
}
/* URUGUAY */
.servicio_uruguay1{
  background-image: url(./assets/imagenes_paises/uruguay_servicio1.jpg)
}
.servicio_uruguay2{
  background-image: url(./assets/imagenes_paises/uruguay_servicio2.jpg);   
}
.servicio_uruguay3{
background-image: url(./assets/imagenes_paises/uruguay_servicio3.jpg);
}
       /* GRECIA*/
  .servicio_grecia1{
    background-image: url(./assets/imagenes_paises/grecia_servicio1.jpg);
  }
  .servicio_grecia2{
    background-image: url(./assets/imagenes_paises/grecia_servicio2.jpg);
  }
  .servicio_grecia3{
    background-image: url(./assets/imagenes_paises/grecia_servicio3.jpg);
  }
        /* ALEMANIA*/
  .servicio_alemania1{
   background-image: url(./assets/imagenes_paises/alemania_servicio1.jpg);
  }
  .servicio_alemania2{
    background-image: url(./assets/imagenes_paises/alemania_servicio2.jpg);
  }
  .servicio_alemania3{
    background-image: url(./assets/imagenes_paises/alemania_servicio3.jpg);
  }
    /*MARRUECOS*/
 .servicio_marruecos1{
    background-image: url(./assets/imagenes_paises/marruecos_servicio1.jpg);
  }
  .servicio_marruecos2{
    background-image: url(./assets/imagenes_paises/marruecos_servicio2.jpg);
  }
  .servicio_marruecos3{
     background-image: url(./assets/imagenes_paises/marruecos_servicio3.jpg);
 }  
    /*SUIZA*/
    .servicio_suiza1{
      background-image: url(./assets/imagenes_paises/suiza_servicio1.jpg);
    }
    .servicio_suiza2{
      background-image: url(./assets/imagenes_paises/suiza_servicio2.jpg);
    }
    .servicio_suiza3{
       background-image: url(./assets/imagenes_paises/suiza_servicio3.jpg);
   } 
   /*BELGICA*/
   .servicio_belgica1{
    background-image: url(./assets/imagenes_paises/belgica_servicio1.jpg);
  }
  .servicio_belgica2{
    background-image: url(./assets/imagenes_paises/belgica_servicio2.jpg);
  }
  .servicio_belgica3{
     background-image: url(./assets/imagenes_paises/belgica_servicio3.jpg);
 } 
   /*EGIPTO*/
   .servicio_egipto1{
    background-image: url(./assets/imagenes_paises/egipto_servicio1.jpg);
  }
  .servicio_egipto2{
    background-image: url(./assets/imagenes_paises/egipto_servicio2.jpg);
  }
  .servicio_egipto3{
     background-image: url(./assets/imagenes_paises/egipto_servicio3.jpg);
 } 
 /*IRLANDA*/
 .servicio_irlanda1{
  background-image: url(./assets/imagenes_paises/irlanda_servicio1.jpg);
}
.servicio_irlanda2{
  background-image: url(./assets/imagenes_paises/irlanda_servicio2.jpg);
}
.servicio_irlanda3{
   background-image: url(./assets/imagenes_paises/irlanda_servicio3.jpg);
}  
 /*PORTUGAL*/
 .servicio_portugal1{
  background-image: url(./assets/imagenes_paises/portugal_servicio1.jpg);
}
.servicio_portugal2{
  background-image: url(./assets/imagenes_paises/portugal_servicio2.jpg);
}
.servicio_portugal3{
   background-image: url(./assets/imagenes_paises/portugal_servicio3.jpg);
}          

/* AUSTRALIA */

.servicio_australia1 {
  background-image: url(./assets/imagenes_paises/australia_servicio1.jpg);
}

.servicio_australia2 {
  background-image: url(./assets/imagenes_paises/australia_servicio2.jpg);
}

.servicio_australia3 {
  background-image: url(./assets/imagenes_paises/australia_servicio3.jpg);
}

/* NUEVA ZELANDA */

.servicio_nuevazelanda1 {
  background-image: url(./assets/imagenes_paises/nuevazelanda_servicios1.jpg);
}

.servicio_nuevazelanda2 {
  background-image: url(./assets/imagenes_paises/nuevazelanda_servicios2.jpg);
}

.servicio_nuevazelanda3 {
  background-image: url(./assets/imagenes_paises/nuevazelanda_servicios3.jpg);
}
  
/* CURAZAO */

.servicio_curazao1 {
  background-image: url(./assets/imagenes_paises/curazao_servicio1.jpg);
}

.servicio_curazao2 {
  background-image: url(./assets/imagenes_paises/curazao_servicio2.png);
}

.servicio_curazao3 {
  background-image: url(./assets/imagenes_paises/curazao_servicio3.jpg);
}
  

/*ARUBA */

.servicio_aruba1 {
  background-image: url(./assets/imagenes_paises/aruba_servicio1.jpg);
}

.servicio_aruba2 {
  background-image: url(./assets/imagenes_paises/aruba_servicio2.jpg);
}

.servicio_aruba3 {
  background-image: url(./assets/imagenes_paises/aruba_servicio3.jpg);
}
/*Reino Unido */

.servicio_reinounido1 {
  background-image: url(./assets/imagenes_paises/Reino_unido_servicio1.jpg);
}

.servicio_reinounido2 {
  background-image: url(./assets/imagenes_paises/Reino_unido_servicio2.jpg);
}

.servicio_reinounido3 {
  background-image: url(./assets/imagenes_paises/Reino_unido_servicio3.jpg);
}
/*PAISES BAJOS */

.servicio_paisesbajos1 {
  background-image: url(./assets/imagenes_paises/PaisesBajos_servicio1.jpg);
}

.servicio_paisesbajos2 {
  background-image: url(./assets/imagenes_paises/PaisesBajos_servicio2.jpg);
}

.servicio_paisesbajos3 {
  background-image: url(./assets/imagenes_paises/PaisesBajos_servicio3.jpg);
}

/*REPUBLICA CHECA */

.servicio_republicacheca1 {
  background-image: url(./assets/imagenes_paises/RepublicaCheca_servicio1.jpg);
}

.servicio_republicacheca2 {
  background-image: url(./assets/imagenes_paises/RepublicaCheca_servicio2.jpg);
}

.servicio_republicacheca3 {
  background-image: url(./assets/imagenes_paises/RepublicaCheca_servicio3.jpg);
}
/*CROACIA */

.servicio_croacia1 {
  background-image: url(./assets/imagenes_paises/croacia_servicio1.jpg);
}

.servicio_croacia2 {
  background-image: url(./assets/imagenes_paises/croacia_servicio2.jpg);
}

.servicio_croacia3 {
  background-image: url(./assets/imagenes_paises/croacia_servicio3.jpg);
}
/*SUDAFRICA */

.servicio_sudafrica1 {
  background-image: url(./assets/imagenes_paises/sudafrica_servicio1.jpg);
}

.servicio_sudafrica2 {
  background-image: url(./assets/imagenes_paises/sudafrica_servicio2.jpg);
}

.servicio_sudafrica3 {
  background-image: url(./assets/imagenes_paises/sudafrica_servicio3.jpg);
}
/*EMIRATOS ARABES*/

.servicio_emiratosarabes1 {
  background-image: url(./assets/imagenes_paises/Emiratosarabes_servicio1.jpg);
}

.servicio_emiratosarabes2 {
  background-image: url(./assets/imagenes_paises/Emiratosarabes_servicio2.jpg);
}

.servicio_emiratosarabes3 {
  background-image: url(./assets/imagenes_paises/Emiratosarabes_servicio3.jpg);
}
/*EMIRATOS QATAR*/

.servicio_qatar1 {
  background-image: url(./assets/imagenes_paises/qatar_servicio1.jpg);
}

.servicio_qatar2 {
  background-image: url(./assets/imagenes_paises/qatar_servicio2.jpg);
}

.servicio_qatar3 {
  background-image: url(./assets/imagenes_paises/qatar_servicio3.jpg);
}
/*INDIA*/

.servicio_india1 {
  background-image: url(./assets/imagenes_paises/india_servicio1.jpg);
}

.servicio_india2 {
  background-image: url(./assets/imagenes_paises/india_servicio2.jpg);
}

.servicio_india3 {
  background-image: url(./assets/imagenes_paises/india_servicio3.jpg);
}
/*TAILANDIA*/

.servicio_tailandia1 {
  background-image: url(./assets/imagenes_paises/tailandia_servicio1.jpg);
}

.servicio_tailandia2 {
  background-image: url(./assets/imagenes_paises/tailandia_servicio2.jpg);
}

.servicio_tailandia3 {
  background-image: url(./assets/imagenes_paises/tailandia_servicio3.jpg);
}
/*MALASIA*/

.servicio_malasia1 {
  background-image: url(./assets/imagenes_paises/malasia_servicio1.jpg);
}

.servicio_malasia2 {
  background-image: url(./assets/imagenes_paises/malasia_servicio2.jpg);
}

.servicio_malasia3 {
  background-image: url(./assets/imagenes_paises/malasia_servicio3.jpg);
}
/* FIN DE SERVICIOS Y PAQUETES POR PAISES */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}